<%- include ('./components/header') %>

<main class="container pt-5">

    <h1>Thank you for message</h1>

    <p>You name is <%= info.name %></p>
    <p>You Email is <%= info.email %></p>
    <p>You Subject is <%= info.subject %></p>
    <p>You Message is <%= info.message %></p>

</main>

<%- include ('./components/footer') %>